/* GENERAL SETTINGS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: #6e6e6e;
    font-size: 10px;
    font-weight: 700;
    background-color: #141922;
}

.clearfix:after{
    content: "";
    position: table;
    clear: both;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #6e6e6e;
}

/* HEADER */

header {
    height: 90px;      /* cambiare con max-height quando c'è contenuto*/
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0, 0.4);
    width: calc(100% - 230px);    
    display: flex;
    justify-content: right;
    align-items: center;
}

header button{
    border-radius: 25px;
    background-color: rgba(0,0,0, 0.4);
    color: white;
    border: 2px solid white;
    height: 40px;
    width: 220px;
    margin-right: 20px;
    text-transform: uppercase;
    font-size: 12px;
    transition: 0.15s;  
}

/* usato transition per rendere piu' morbido l'hover */
header button:hover{
    height: 50px;
    width: 230px;
    margin-right: 15px;
}

/* MAIN */

main{
    height: calc(100vh - 90px);
    width: 100%;
       
}

main > *{
    height: 100%;
    float: left;
}

/* ASIDE */

#menu{
    background-color: black;
    width: 230px;   
    overflow: hidden;  
}

#menu .top-menu{  
    min-height: 100px; 
    height: calc(100% - 180px);   
    overflow: hidden; 
}

/* il logo */
#menu .logo{
    padding: 25px;
    height: 90px;
    display: block;
}

#menu .mini-logo{
    height: 20px;
    display: none;
    margin: 0 auto;
    margin-top: 15px;
}

#menu nav{
    overflow: auto;
}

#menu nav  li:hover{
    border-left: 2px solid #adff2f;
}

#menu ul li {
    padding: 3px 15px ;     
}

#menu ul li:hover{
    color: white;
}

#menu ul li img{
    height: 20px;
    filter: brightness(85%);
}

#menu ul li a{
    vertical-align: 40%;
}

#menu ul li:hover a, #menu ul li:hover img{
    color: white;
    filter: brightness(100%);
}

#menu h3{
    text-transform: uppercase;
    color: white;
    padding:20px 10px 0 15px;
}

#menu .create{
    padding: 10px 0 0 15px;
}

#menu .create:hover a{
    color: white;
}

#menu .create:hover div{
    background-color: white;
}

#menu .create div{
    height: 30px;
    width: 30px;
    display: inline-block;
    background-color: #a3a3a3;
    color: #000;
    font-size: 18px;
    text-align: center;
    line-height: 35px;
    vertical-align: middle;
}

#menu .create a{
    padding-left: 5px;
}

/* lista delle playlist */
#menu ul.last-list{
    overflow-y: auto;
    height: 50%;
}

#menu ul.last-list li{
    margin-top: 10px;
}

#menu .bottom-menu{
    padding: 0 15px;
    height: 90px;     
}

#menu .bottom-menu > div >  img{
    height: 18px;    
}

#menu .bottom-menu > div > a{
    vertical-align: 30%;
}

#menu .bottom-menu > div{
    padding: 10px 0;
}

#menu .bottom-menu > div:last-of-type{
    display: flex;
    flex-flow: row; 
    align-content: center;    
}

#menu .profile{
    width: 30px;
    height: 30px;
    background-color: #7d7f84;
    border-radius: 50%;  
    overflow: hidden;
}

#menu .bottom-menu h3{
    padding: 0 10px ;
    line-height: 30px;
}

#menu .bottom-menu a:hover{
    color: white;
}

/* MAIN CONTENT */

#main-content{
    width: calc(100% - 230px);
    padding-top: 100px;
    overflow: auto;
}

#main-content nav.top-nav{
    margin: auto;
    width: 100%;  
    /* height: 50px;  */
}

.top-nav ul{
    margin: auto;
    width: 100%;    
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.top-nav ul li{
    text-transform: uppercase;
    padding: 0 10px;
}

.top-nav ul li .underscore{
    width: 20px;
    height: 2px;
    background-color: #adff2f;
    margin: auto;
    margin-top: 1px;
    display: none;
}

.top-nav ul li:hover .underscore{
    display: block;
}

.top-nav ul li:hover a{
    color: white;
}

#main-content .container{
    padding: 20px 15px;
}

#main-content .container .row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row-title h1{
    color: white;
    font-size: 18px;  
    padding-bottom: 10px;  
}

.row .item{
    text-align: center;
    width: 16%;
    padding: 20px 5px 0 5px;
    transition: ease all 0.5s;
}

.item h3{
    color: white;
    padding-bottom: 10px;
}

.row .item .img-container{    
    margin-bottom: 10px;
    position: relative;
}

.img-container img{
    width: 100%;    
}

.container:last-of-type .img-container img{
    border-radius: 50%;
}

.container:last-of-type .img-container .filter{
    border-radius: 50%;
}

.img-container .filter{
    background-color: rgba(0, 0, 0, 0.377);
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 50px;   
    color: white; 
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transition: z-index 0.5s;
}

.filter i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-container:hover .filter{
    z-index: 99;
}


/* FOOTER */

footer{
    height: 90px;      
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0 10px;
    z-index: 3;
}

footer button{
    background-color: #282828;
    border: 0;
    color: white;
}

footer .time{
    height: 4px;
    border-radius: 2px;
    background-color: #6e6e6e;
    display: inline-block;
}

footer .progress{
    height: 100%;
    background-color: #cccccc;
    border-radius: 2px;
    position: relative;
}

footer .progress div{
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    right: 0;
    transform: translate(50%, -2px);
    display: none;
}

footer .time:hover .progress{
    background-color: #adff2f;
}

footer .time:hover .progress div{
    display: block;
}

#selection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 200px;
    width: 30%;
}

#selection .song{
    height: 50%;
    display: flex;
    align-items: center;
    width: 60%;
}

#selection .song img{
    max-height: 100%;
}

.song .data{
    display: inline-block;
    vertical-align: 80%;
    padding-left: 10px;
}

.song .data h4{
    font-size: 12px;
    color: white;
}

.song .data span{
    text-align: center;
}

.options a{
    font-size: 14px;
    padding-left: 10px;
}

.options a:hover{
    color: white;
}

#player{
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

#player .buttons{
    max-width: 200px;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

#player .buttons button{    
    font-size: 20px;
}

#player .buttons .central-b{
    font-size: 35px;
    height: 40px;
    width: 40px;
}

#player .buttons .central-b i:hover{
    font-size: 40px;
}

#player .bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20px;
}

#player .bar span{
    color: white;
}

#player .bar .time{
    width: 80%;
    transition: ease all 0.5s;
}

#player .bar .progress{
    width: 20%;
}

#settings{
    max-width: 200px;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#settings .time{
    width: 60%;
    transition: ease all 0.5s;
}

#settings .progress{
    width: 25%;
}



/******* RESPONSIVE SETTINGS *******/

/* VERTICAL SETTINGS */
@media screen and (max-height: 200px){
    header{
        display:none;
    }

    #menu{
        display: none;
    }

    #menu > img{
        display: none;
    }    

    #main-content{
        padding-top: 0;
        display: none;
    }    
}

/* ORIZONTAL SETTINGS */

/* large < 1200 */
@media screen and (max-width: 1199px){
    main{
        background-color: red;
    }
}

/* medium < 992  */
@media screen and (max-width: 991px){
    main{
        background-color: blue;
    }

    #main-content .item{
        width: 25%;
    }

    #main-content .item:nth-of-type(n+5){
        display: none;
    }
}

/* small < 768 */
@media screen and (max-width: 767px){
    main{
        background-color: violet;
    }

    #main-content .item{
        width: 50%;
    }

    #main-content .item:nth-of-type(n+3){
        display: none;
    }

    #selection .options a{
        padding: 0;
        display: block;
    }


    #player .bar .time{
        width: 60%;
    }

    #settings .time{
        width: 40%;
    }

}

/* x-small < 576 */
@media screen and (max-width: 575px){
    main{
        background-color: green;
    }

    header{
        width: calc(100% - 50px);
    }

    #main-content{
        width: calc(100% - 50px);
    }

    #menu{
        width: 50px;
    }

    #menu .logo, .nav a, #menu h3, .create, .last-list, .bottom-menu{
        display: none;
    }

    #menu .mini-logo{
        display: block;
    }

    #menu .nav{
        padding-top: 15px;
    }

    footer #selection img{
        width: 30%;
        object-fit: contain;
    }

    footer #selection .data{
        width: 60%;
    }
}