/* GENERAL SETTINGS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: #6e6e6e;
    font-size: 10px;
    font-weight: 700;
}

.clearfix:after{
    content: "";
    position: table;
    clear: both;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #6e6e6e;
}

/* HEADER */

header {
    height: 90px;      /* cambiare con max-height quando c'è contenuto*/
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0, 0.4);
    width: calc(100% - 230px);    
    display: flex;
    justify-content: right;
    align-items: center;
}

header button{
    border-radius: 25px;
    background-color: rgba(0,0,0, 0.4);
    color: white;
    border: 2px solid white;
    height: 40px;
    width: 220px;
    margin-right: 20px;
    text-transform: uppercase;
    font-size: 12px;
    transition: 0.15s;  
}

/* usato transition per rendere piu' morbido l'hover */
header button:hover{
    height: 50px;
    width: 230px;
    margin-right: 15px;
}

/* MAIN */

main{
    height: calc(100vh - 90px);
    width: 100%;
}

main > *{
    height: 100%;
    float: left;
}

#menu{
    background-color: black;
    width: 230px; /* cambiare con max-width quando c'è contenuto*/    
    display: flex;
    flex-direction: column;
}

/* il logo */
#menu > img{
    padding: 25px;
    height: 90px;
}

#menu nav  li:hover{
    border-left: 2px solid #adff2f;
}

#menu ul li {
    padding: 3px 15px ;     
}

#menu ul li:hover{
    color: white;
}

#menu ul li img{
    height: 20px;
    filter: brightness(85%);
}

#menu ul li a{
    vertical-align: 40%;
}

#menu ul li:hover a, #menu ul li:hover img{
    color: white;
    filter: brightness(100%);
}

#menu h3{
    text-transform: uppercase;
    color: white;
    padding:20px 10px 0 15px;
}

#menu .create{
    padding: 10px 0 0 15px;
}

#menu .create:hover a{
    color: white;
}

#menu .create:hover div{
    background-color: white;
}

#menu .create div{
    height: 30px;
    width: 30px;
    display: inline-block;
    background-color: #a3a3a3;
    color: #000;
    font-size: 18px;
    text-align: center;
    line-height: 35px;
    vertical-align: middle;
}

#menu .create a{
    padding-left: 5px;
}

/* lista delle playlist */
#menu ul:last-of-type{
    overflow-y: auto;
}

#menu ul:last-of-type li{
    margin-top: 10px;
}

#menu .bottom-menu{
    padding: 0 15px;
    background-color: black;
    overflow: hidden; 
    justify-self:flex-end;  
    margin-top: auto; 
}


#menu .bottom-menu > div >  img{
    height: 18px;    
}

#menu .bottom-menu > div > a{
    vertical-align: 30%;
}

#menu .bottom-menu > div{
    padding: 10px 0;
}

#menu .bottom-menu > div:last-of-type{
    display: flex;
    flex-flow: row; 
    align-content: center;    
}

#menu .profile{
    width: 30px;
    height: 30px;
    background-color: #7d7f84;
    border-radius: 50%;
    overflow: hidden;    
}

#menu .bottom-menu h3{
    padding: 0 10px ;
    line-height: 30px;
}

#menu .bottom-menu a:hover{
    color: white;
}























#albums{
    background-color: #141922;
    width: calc(100% - 230px);
    padding-top: 100px;
    overflow: auto;
}











/* FOOTER */

footer{
    height: 90px;      /* cambiare con max-height quando c'è contenuto*/
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0 10px;
}

footer button{
    background-color: #282828;
    border: 0;
    color: white;
}

footer .time{
    height: 4px;
    border-radius: 2px;
    background-color: #6e6e6e;
    display: inline-block;
}

footer .progress{
    height: 100%;
    background-color: #cccccc;
    border-radius: 2px;
    position: relative;
}

footer .progress div{
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    right: 0;
    transform: translate(50%, -2px);
    display: none;
}

footer .time:hover .progress{
    background-color: #adff2f;
}

footer .time:hover .progress div{
    display: block;
}

#selection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

#selection .song{
    height: 50%;
}

#selection .song img{
    max-height: 100%;
}

.song .data{
    display: inline-block;
    vertical-align: 80%;
    padding-left: 10px;
}

.song .data h4{
    font-size: 12px;
    color: white;
}

.options a{
    font-size: 14px;
    padding-left: 10px;
}

.options a:hover{
    color: white;
}

#player{
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

#player .buttons{
    width: 200px;
    display: flex;
    justify-content: space-between;
}

#player .buttons button{
    
    font-size: 20px;
}

#player .buttons .central-b{
    font-size: 35px;
}

#player .buttons .central-b:hover{
    font-size: 40px;
}

#player .bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20px;
}

#player .bar span{
    color: white;
}

#player .bar .time{
    width: 80%;
}

#player .bar .progress{
    width: 20%;
}

#settings{
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#settings .time{
    width: 60%;
}

#settings .progress{
    width: 25%;
}

