/* GENERAL SETTINGS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: #7d7f84;
    font-size: 12px;
    font-weight: 600;
}

.clearfix:after{
    content: "";
    position: table;
    clear: both;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #7d7f84;
}

/* HEADER */

header {
    height: 90px;      /* cambiare con max-height quando c'è contenuto*/
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0, 0.4);
    width: calc(100% - 230px);    
    display: flex;
    justify-content: right;
    align-items: center;
}

header button{
    border-radius: 25px;
    background-color: rgba(0,0,0, 0.4);
    color: white;
    border: 2px solid white;
    height: 40px;
    width: 220px;
    margin-right: 20px;
    text-transform: uppercase;
    font-size: 12px;
    transition: 0.15s;  
}

/* usato transition per rendere piu' morbido l'hover */
header button:hover{
    height: 50px;
    width: 230px;
    margin-right: 15px;
}

/* MAIN */

main{
    height: calc(100vh - 90px);
    width: 100%;
}

main > *{
    height: 100%;
    display: inline-block;
    float: left;
}

#menu{
    background-color: black;
    width: 230px; /* cambiare con max-width quando c'è contenuto*/    
}

/* il logo */
#menu > img{
    padding: 25px;
    height: 90px;
}

#menu .top-menu li:hover{
    border-left: 2px solid #adff2f;
}

#menu ul li {
    padding: 5px 15px ;
    vertical-align: middle;
    height: 30px;  
    line-height: 30px; 
     
}

#menu ul li img{
    height: 100%;
    filter: brightness(85%);
}

#menu ul li a{
    vertical-align: 50%;
    line-height: 1;
}

#menu h3{
    text-transform: uppercase;
    color: white;
    padding:20px 10px 0 15px;
}

#albums{
    background-color: #141922;
    width: calc(100% - 230px);
    padding-top: 100px;
    overflow: auto;
}


/* FOOTER */

footer{
    height: 90px;      /* cambiare con max-height quando c'è contenuto*/
    background-color: #282828;
}